<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Show page</title>
	<link rel="stylesheet" href="../../styles/main.css">
</head>
<body>
	<header>
		<h1>User Profile Page</h1>
	</header>

	<h3>
		<%= user.username %> 
	</h3>

	<h3>
		<%= user.email %> 
	</h3>

	<h3>
		<%= user.question[0].question %> 
	</h3>

	<%= console.log('hsadkfjhsdk'); %>

	<h2>Recent Questions</h2>
	<% if (user.question.length) { %>
		<% user.question.forEach((q) => { %>
			<%= console.log('hsadkfjhsdk'); %>
			
			<li><a href="/questions/<%=q._id%>"><%=q.question%></a></li>
		
		<% }) %>
		<% } else { %>
			<h4>No Questions Yet</h4>
	<% } %>

	<h2>Recent Answers</h2>
	<% if (user.answer.length) { %>
		<% user.answer.forEach((a) => { %>
			<!-- <a href="/questions/<%= a._id %>"> -->
				<h4><%= a.answer %></h4>
			<!-- </a> -->
		<% } )%>
		<% } else { %>
			<h4>No Answers Yet</h4>
	<% } %>

	<a href="/user/logout">
		<button>Logout</button>
	</a>
	
</body>
</html>