	<header>
		<h1>Welcome to Q&A Show page</h1>
	</header>

<%- include('../partials/_head') %>
<body>


	

	<a href="/questions/new">
		<button>New Question</button>
	</a>

	<div class="question">
		<h3>
			<a href="/user/profile/<%= questions.username._id%>">
				<%= questions.username.username%> Asks:
			</a>
		</h3>

		<h2>
			<%= questions.question %>
		</h2>
	</div>

	<div class = "editAndDeleteBtn">

	<a href="/questions/<%= questions._id%>/edit">
		<button id ="edit">Edit</button>
	</a>

	<!-- 	Delete -->
	<form style="display: inline-block;" method="POST" action= "/questions/<%= questions._id%>?_method=DELETE" >
		<button id="delete" type = "submit">Delete</button>
	</form>
	</div>

	
	<div class="answerContainer">
		<% for(let i = questions.answer.length -1; i >= 0; i--){ %>
			<div class= "answers">	
				<div id ="username">
					<a href="/user/profile/<%= questions.answer[i].username._id%>">
						<%=questions.answer[i].username.username%> <br/>
					</a>
				</div>
				<div id="answer">
					<%=questions.answer[i].answer%> <br/>
				</div>
			</div>
		<% } %>
	</div>

	<div class="addAnswer">
		<form action="/questions/<%=questions._id%>/answer/new" method="POST">

			<label for="answer">Write your own answer</label>
			<textarea name="answer" id="inputAnswer" cols="30" rows="10"></textarea>

			<button type="submit">Add Answer</button>
		</form>
	</div>

	<a href="/questions"><button type= "submit">View all Questions</button></a>
	



</body>
</html>