<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../styles/main.css">
	<title>Question And Answers</title>
</head>
<body>
	<header>
		<h1>Welcome to Q&A Show page</h1>
	</header>
	

	<a href="/questions/new">
		<button>New Question</button>
	</a>

	<div class="question">
		<h3>
			<%= questions.username%> Asks:
		</h3>

		<h2>
			<%= questions.question %>
		</h2>
	</div>

	<div class = "editAndDeleteBtn">

	<a href="/questions/<%= questions._id%>/edit">
		<button id ="edit">Edit</button>
	</a>

	<!-- 	Delete -->
	<form style="display: inline-block;" method="POST" action= "/questions/<%= questions._id%>?_method=DELETE" >
		<button id="delete" type = "submit">Delete</button>
	</form>
	</div>

	
	<div class="answerContainer">
		<% for(let i = questions.answer.length -1; i >= 0; i--){ %>
			<div class= "answers">	
				<div id ="username">
					<%=questions.user%> <br/>
				</div>
				<div id="answer">
					<%=questions.answer[i].answer%> <br/>
				</div>
			</div>
		<% } %>
	</div>

	<div class="addAnswer">
		<form action="/questions/<%=questions._id%>/answer/new" method="POST">

			<label for="answer">Write your own answer</label>
			<textarea name="answer" id="inputAnswer" cols="30" rows="10"></textarea>

			<button type="submit">Add Answer</button>
		</form>
	</div>

	<a href="/questions"><button type= "submit">View all Questions</button></a>
	



</body>
</html>